* {
    margin: 0;
    padding: 0;
}
.passwordChangeForm {
    // display:flex;
    align-items: flex-end;
    position: relative;
}

.passwordChangeCard {
    max-width: 360px;
    height: auto;
    /* min-height: 200px; */

    /* text-align: center; */
    padding: 0px 0 15px 0;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;

    background-color:#ffffff;
}

.passwordChangeForm-group>input{
    height: 30px !important;
    width: 230px !important;
}


.passwordChangeBanner {
    /* border-radius: 10px 10px 0 0; */
    height: 70px;
    background: #F5DF4D;
    /* background-size: 100% 35%; */
    background-size: cover;
    margin-bottom: 1rem;

}
.passwordChangeBanner>h2{
    font-size: 1.5rem;
    color: #ffffff;
    padding-top: 1.5rem;
    text-align: center;
}
.passwordChangeForm-group {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.passwordChangeBtn {
    color: white;
    margin-top : .5rem;
    margin-bottom : .5rem;
    margin-left : .5rem;
    margin-left :120px;
    background: #F5DF4D;
    border: 1px solid #F5DF4D;
    border-radius: 50pt ;
    width: 120px ;
    font-size:0.9rem;
    line-height:1.2rem;

}
label{
    margin-bottom: 0;
    font-size:0.9rem;
}
.passwordChangeBtn:hover {
    color: white;
    opacity:0.7;
}

.passwordChange-group{
    flex-grow: 1;
}


@media (max-width: 768px) { 
    .passwordChangeInfo{
        width: 100%;
        order: 2;
    }
    .passwordChange-group{
        width: 100%;
        order: 2;
    }

    .passwordChangeBtn{
        order: 3;
        margin-left: 33%;
    }
    .passwordChangeForm-group {
        margin-left: 2.3rem;
    }

}